<div class="container-fluid container-fluid-custom py-md-5 mb-5" >
    <main>
      <div class="row d-flex flex-col text-center justify-content-center text-sm">
          <div class="col-md-12 col-lg-6 mb-6  mb-0-md">
              <h1 class="display-2 fw-bold mb-2 position-relative ">
                  Page not found!
              </h1>
              
              <button class="btn-primary text-light">Explore Notes </button>
          </div>
      </div>
    </main>    
  </div>