<div class="container-fluid container-fluid-custom py-md-5 mb-5" >
  <main>
    <div class="row d-flex flex-col text-center justify-content-center text-sm">
        <div class="col-md-12 col-lg-6 mb-6  mb-0-md">
            <h1 class="display-2 fw-bold mb-2 position-relative home-title">
                Write your thoughts down, when they come to you!
            </h1>
            <p class="fw-bold mb-4 mt-3">
                Notes is a free to use note taking app, created using node,express,mongoDb and tailwind. 
            </p>
            <button class="btn-primary text-light">Try Notes, it's FREE! </button>
        </div>
    </div>
  </main>    
</div>